[web]
    user = web
    group = web

    listen = /run/php/php7.4-fpm.sock
    listen.owner = web
    listen.group = web
    listen.mode = 0600

    pm = dynamic
    pm.max_children = 70
    pm.start_servers = 10
    pm.min_spare_servers = 10
    pm.max_spare_servers = 20
    pm.max_requests = 10000
    pm.process_idle_timeout = 25s

    request_terminate_timeout = 30
    security.limit_extensions = .php .php3 .php4 .php5

    slowlog = /var/log/php/fpm-slow.log
    catch_workers_output = yes
    rlimit_files = 65536
    rlimit_core = unlimited
    catch_workers_output = yes

    php_flag[display_errors] = on
    php_admin_value[error_log] = /var/log/php/php7.4-fpm.log
    php_admin_flag[log_errors] = on